@media (min-width: 640px) {
    
    .image-src {
        max-width: 300px !important;
        max-height: 300px !important;
    }

    .image-container {
        transform: translate(40px,20px) !important;
    }
}

@media (min-width: 960px) {
    .image-src {
        max-width: 600px !important;
        max-height: 600px !important;
    }

    .image-container {
        transform: translate(40px,20px) !important;
    }
}


:root {
    --tk-home-max-width: 1300px;
}

.logo {
    background-image: url(/img/logo.svg);
    background-size: contain;
    height: 2em;
    width: 2em;
}

.dark .logo {
    background-image: url(/img/logo-dark.svg);
    background-size: contain;
    height: 2em;
    width: 2em;
}

.tk-footer-info .eo-logo {
    background-image: url(/assets/eo.png);
    background-size: contain;
    margin-top: 5px;
    height: 16px;
    width: 108px;
}

.dark .tk-footer-info .eo-logo {
    background-image: url(/assets/eo-dark.png);
    background-size: contain;
    margin-top: 5px;
    height: 16px;
    width: 108px;
}

.VPHero {
    background-color: aliceblue;
}

.dark .VPHero {
    background-color: #1e1e1e;
}

.dark .VPNavBarMenuGroup .text svg {
    fill: var(--vp-c-text-1);
}

.VPSidebarItem i {
    margin-right: 5px;
}